.TeamScore__Container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.team__container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 60%;
    cursor: pointer;
}
.team1{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 0.3rem;
    justify-content: flex-end;
}
.team2{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 0.3rem;
    justify-content: flex-start;
}
.time{
    width: 15%;
}
.star{
    width: fit-content;
    
}