.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.link__container{
    color: var(--color-primary);
    text-decoration: none;
    text-shadow: 2px 3px 4px  gray;
}
.star__container{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
.star{
    cursor: pointer;
    color: black;
    width: 20px;
    height: 20px;
    
}
.star__color__remove{
    cursor: pointer;
    color:var(--color-primary);
    width: 20px;
    height: 20px;
}
.logo{
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px 4px 4px var(--color-primary);
    border-radius: 1rem;
}
.brandname{
    color: pink;
    text-shadow: 6px 6px 6px  var(--color-primary);
}
.verified{
    color: pink;
}
.horizontal__line{
    
    border: 1px solid var(--color-primary);
   
}